<nav>
	{{link-to "Borrowers" "index" class="main"}}

	<!-- responsive -->
	<input id="bmenu" class="burgercheck" type="checkbox">
	<label for="bmenu" class="burgermenu"></label>
	<!-- /responsive -->

	<div class="menu">
		{{#link-to "index" class="icon-gauge"}}{{t 'header.dashboard'}}{{/link-to}}
		{{#link-to "friends" class="icon-users-1"}}{{t 'header.friends'}}{{/link-to}}
		{{#link-to "friends.new" class="icon-user-add"}}{{t 'header.new_friend'}}{{/link-to}}
	</div>
</nav>